examples/Fritz HTTP API Example Flow.json
[{"id":"df8b46f3.413d68","type":"tab","label":"Fritz HTTP API Example","disabled":false,"info":"# Example Flow\r\n\r\n**Important Hint:** The logon to the fritz box takes some time and the nodes will wait till it is finished!\r\n\r\nThis flow contains all supported usage variants of the thermostat node.\r\n\r\nAll inject nodes with the same name are completely equal.\r\n\r\n## Description\r\n\r\n**\"HKR\"** nodes contain the identifier of a thermostat (HKR) as topic.\r\n\r\nAll thermostat nodes connected to them execute a command for one thermostat, which is identified by the identifier.\r\n\r\nThe commands are thermostat specific.\r\n\r\n**\"HKR *\"** nodes contain the identifier of a thermostat (HKR) as topic and a payload (here represented as *) as parameter for a command.\r\n\r\nAll thermostat nodes connected to them execute a command for one thermostat, which is identified by the identifier and uses the payload as parameter.\r\n\r\nThe commands are thermostat specific.\r\n\r\n**\"All\"** nodes contain no additional data.\r\n\r\nAll thermostat nodes connected to them execute a command which is not specific for any thermostat.\r\n\r\nThe commands retrieve the version of the fritz box or a list of all devices, templates or thermostats.\r\n\r\n**\"TMPL\"** nodes contain the identifier of a template as topic.\r\n\r\nAll thermostat nodes connected to them execute a command for one template, which is identified by the identifier.\r\n\r\nThe commands are template specific.\r\n\r\n## Usage\r\n\r\nIn order to use the flow, it is necessary to provide the login data to the fritz box to the thermostat nodes.\r\n\r\nAll identifiers in the inject nodes need to be replaced by your local identifiers.\r\n\r\nThe command results are shown in debug messages in the \"Debugging\" tab."},{"id":"b7f12c5.f18ded","type":"inject","z":"df8b46f3.413d68","name":"HKR","topic":"099950358223","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":20,"wires":[["5045ad0a.12e0d4"]]},{"id":"5045ad0a.12e0d4","type":"fritz-thermostat","z":"df8b46f3.413d68","connection":"504002e3.b8eadc","name":"getTemperature","action":"getTemperature","x":260,"y":20,"wires":[["d1d8e315.f309c"]]},{"id":"d1d8e315.f309c","type":"debug","z":"df8b46f3.413d68","name":"debug getTemperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":20,"wires":[]},{"id":"2858907.2e8a37","type":"fritz-thermostat","z":"df8b46f3.413d68","connection":"504002e3.b8eadc","name":"getDevice","action":"getDevice","x":240,"y":380,"wires":[["7fcc2b59.a28594"]]},{"id":"7fcc2b59.a28594","type":"debug","z":"df8b46f3.413d68","name":"debug getDevice","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":380,"wires":[]},{"id":"bd400f80.55e6b","type":"fritz-thermostat","z":"df8b46f3.413d68","connection":"504002e3.b8eadc","name":"getTempTarget","action":"getTempTarget","x":260,"y":80,"wires":[["2abc13d1.35f0ac"]]},{"id":"2abc13d1.35f0ac","type":"debug","z":"df8b46f3.413d68","name":"debug getTempTarget","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":80,"wires":[]},{"id":"646579e7.cdf708","type":"fritz-thermostat","z":"df8b46f3.413d68","connection":"504002e3.b8eadc","name":"getPresence","action":"getPresence","x":250,"y":560,"wires":[["3d8e0ae7.710136"]]},{"id":"3d8e0ae7.710136","type":"debug","z":"df8b46f3.413d68","name":"debug getPresence","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":560,"wires":[]},{"id":"93ff0994.94adc8","type":"fritz-thermostat","z":"df8b46f3.413d68","connection":"504002e3.b8eadc","name":"getTempComfort","action":"getTempComfort","x":260,"y":140,"wires":[["3fbd3f24.59195"]]},{"id":"3fbd3f24.59195","type":"debug","z":"df8b46f3.413d68","name":"debug getTempComfort","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":140,"wires":[]},{"id":"ae3adc05.433e5","type":"fritz-thermostat","z":"df8b46f3.413d68","connection":"504002e3.b8eadc","name":"getTempNight","action":"getTempNight","x":260,"y":200,"wires":[["b8649454.0e1a98"]]},{"id":"b8649454.0e1a98","type":"debug","z":"df8b46f3.413d68","name":"debug getTempNight","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":200,"wires":[]},{"id":"b921875f.466688","type":"fritz-thermostat","z":"df8b46f3.413d68","connection":"504002e3.b8eadc","name":"getBatteryCharge","action":"getBatteryCharge","x":270,"y":260,"wires":[["415e7880.f57788"]]},{"id":"415e7880.f57788","type":"debug","z":"df8b46f3.413d68","name":"debug getBatteryCharge","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":260,"wires":[]},{"id":"27ab1fc0.818d7","type":"fritz-thermostat","z":"df8b46f3.413d68","connection":"504002e3.b8eadc","name":"setTempTarget","action":"setTempTarget","x":980,"y":340,"wires":[["871dd3c4.49f14"]]},{"id":"871dd3c4.49f14","type":"debug","z":"df8b46f3.413d68","name":"debug setTempTarget","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1200,"y":340,"wires":[]},{"id":"a1273c03.8218c","type":"fritz-thermostat","z":"df8b46f3.413d68","connection":"504002e3.b8eadc","name":"getWindowOpen","action":"getWindowOpen","x":260,"y":320,"wires":[["e13b418e.223fb"]]},{"id":"e13b418e.223fb","type":"debug","z":"df8b46f3.413d68","name":"debug getWindowOpen","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":320,"wires":[]},{"id":"5250c625.46e668","type":"fritz-thermostat","z":"df8b46f3.413d68","connection":"504002e3.b8eadc","name":"adjustTempTarget","action":"adjustTempTarget","x":990,"y":500,"wires":[["daf222d3.59079"]]},{"id":"daf222d3.59079","type":"debug","z":"df8b46f3.413d68","name":"debug adjustTempTarget","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1210,"y":500,"wires":[]},{"id":"46f6a79d.611768","type":"fritz-thermostat","z":"df8b46f3.413d68","connection":"504002e3.b8eadc","name":"getOSVersion","action":"getOSVersion","x":960,"y":20,"wires":[["298ff36b.ece06c"]]},{"id":"298ff36b.ece06c","type":"debug","z":"df8b46f3.413d68","name":"debug getOSVersion","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1200,"y":20,"wires":[]},{"id":"4927b24d.747a5c","type":"fritz-thermostat","z":"df8b46f3.413d68","connection":"504002e3.b8eadc","name":"getDeviceList","action":"getDeviceList","x":960,"y":80,"wires":[["529d3665.17f0c8"]]},{"id":"529d3665.17f0c8","type":"debug","z":"df8b46f3.413d68","name":"debug getDeviceList","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1200,"y":80,"wires":[]},{"id":"afc48169.4c4c9","type":"inject","z":"df8b46f3.413d68","name":"TMPL 1","topic":"tmpA3C3E1-3AD96D17A","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":580,"wires":[["9844b4ca.a2b5c8"]]},{"id":"9844b4ca.a2b5c8","type":"fritz-thermostat","z":"df8b46f3.413d68","connection":"504002e3.b8eadc","name":"applyTemplate","action":"applyTemplate","x":980,"y":580,"wires":[["2567dc26.aa7ce4"]]},{"id":"2567dc26.aa7ce4","type":"debug","z":"df8b46f3.413d68","name":"debug applyTemplate","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1200,"y":580,"wires":[]},{"id":"32451f1f.9a0db","type":"inject","z":"df8b46f3.413d68","name":"All","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":20,"wires":[["46f6a79d.611768"]]},{"id":"ef1b59f0.840748","type":"fritz-thermostat","z":"df8b46f3.413d68","connection":"504002e3.b8eadc","name":"getTemplateList","action":"getTemplateList","x":960,"y":140,"wires":[["2d63a5e1.4db78a"]]},{"id":"2d63a5e1.4db78a","type":"debug","z":"df8b46f3.413d68","name":"debug getTemplateList","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1200,"y":140,"wires":[]},{"id":"8a71fc90.88516","type":"fritz-thermostat","z":"df8b46f3.413d68","connection":"504002e3.b8eadc","name":"getThermostatList","action":"getThermostatList","x":970,"y":200,"wires":[["6b7f2f99.6ecb5"]]},{"id":"6b7f2f99.6ecb5","type":"debug","z":"df8b46f3.413d68","name":"debug getThermostatList","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1210,"y":200,"wires":[]},{"id":"e267c4.d8a6384","type":"fritz-thermostat","z":"df8b46f3.413d68","connection":"504002e3.b8eadc","name":"getBasicDeviceStats","action":"getBasicDeviceStats","x":280,"y":440,"wires":[["e70af519.480618"]]},{"id":"e70af519.480618","type":"debug","z":"df8b46f3.413d68","name":"debug getBasicDeviceStats","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":440,"wires":[]},{"id":"67d51471.a99b8c","type":"inject","z":"df8b46f3.413d68","name":"All","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":200,"wires":[["8a71fc90.88516"]]},{"id":"3fb345c1.22de5a","type":"inject","z":"df8b46f3.413d68","name":"TMPL 2","topic":"tmpA3C3E1-3ADA6376B","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":620,"wires":[["9844b4ca.a2b5c8"]]},{"id":"363086dd.77c61a","type":"comment","z":"df8b46f3.413d68","name":"Wrong result due to bug in fritzapi implementation (2020-04-11):","info":"","x":250,"y":520,"wires":[]},{"id":"5bf510a5.91b9d","type":"inject","z":"df8b46f3.413d68","name":"HKR +1.5","topic":"099950358223","payload":"+1.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":800,"y":480,"wires":[["5250c625.46e668"]]},{"id":"beb60da7.28a44","type":"inject","z":"df8b46f3.413d68","name":"HKR -1.5","topic":"099950358223","payload":"-1.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":800,"y":520,"wires":[["5250c625.46e668"]]},{"id":"5450f762.d2e0d8","type":"inject","z":"df8b46f3.413d68","name":"HKR 23.5","topic":"099950358223","payload":"23.5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":800,"y":340,"wires":[["27ab1fc0.818d7"]]},{"id":"fda30c2e.8d64","type":"inject","z":"df8b46f3.413d68","name":"HKR 16.0","topic":"099950358223","payload":"16.0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":800,"y":260,"wires":[["27ab1fc0.818d7"]]},{"id":"9e592a4.e8f1bd8","type":"inject","z":"df8b46f3.413d68","name":"HKR 21.0","topic":"099950358223","payload":"21.0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":800,"y":300,"wires":[["27ab1fc0.818d7"]]},{"id":"3af2941e.a6a7cc","type":"inject","z":"df8b46f3.413d68","name":"All","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":80,"wires":[["4927b24d.747a5c"]]},{"id":"c50de5ec.70e7b8","type":"inject","z":"df8b46f3.413d68","name":"All","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":140,"wires":[["ef1b59f0.840748"]]},{"id":"13c48ecd.70dc81","type":"inject","z":"df8b46f3.413d68","name":"HKR on","topic":"099950358223","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":380,"wires":[["27ab1fc0.818d7"]]},{"id":"5e08f8c0.3cc9a8","type":"inject","z":"df8b46f3.413d68","name":"HKR off","topic":"099950358223","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":420,"wires":[["27ab1fc0.818d7"]]},{"id":"c2e0a0d2.d3fb5","type":"inject","z":"df8b46f3.413d68","name":"HKR","topic":"099950358223","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":80,"wires":[["bd400f80.55e6b"]]},{"id":"d0389a4b.514618","type":"inject","z":"df8b46f3.413d68","name":"HKR","topic":"099950358223","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":140,"wires":[["93ff0994.94adc8"]]},{"id":"31e20247.4280fe","type":"inject","z":"df8b46f3.413d68","name":"HKR","topic":"099950358223","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":200,"wires":[["ae3adc05.433e5"]]},{"id":"57715d6d.fff9a4","type":"inject","z":"df8b46f3.413d68","name":"HKR","topic":"099950358223","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":260,"wires":[["b921875f.466688"]]},{"id":"61a35e0e.fec19","type":"inject","z":"df8b46f3.413d68","name":"HKR","topic":"099950358223","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":320,"wires":[["a1273c03.8218c"]]},{"id":"697430bf.e2dd2","type":"inject","z":"df8b46f3.413d68","name":"HKR","topic":"099950358223","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":380,"wires":[["2858907.2e8a37"]]},{"id":"11d1c632.fb881a","type":"inject","z":"df8b46f3.413d68","name":"HKR","topic":"099950358223","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":440,"wires":[["e267c4.d8a6384"]]},{"id":"2384c0b7.1e901","type":"inject","z":"df8b46f3.413d68","name":"HKR","topic":"099950358223","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":560,"wires":[["646579e7.cdf708"]]},{"id":"504002e3.b8eadc","type":"fritz-api","z":"","name":"example","host":"http://fritz.box","strictSSL":true}]